.js-toggle-body {
  background-color: black;
  color: white;
}
.app {
  .js-toggle-progress {
    background-color: #ffffff;
    // background-color: black;
  }

  .js-toggle-progress-timer {
    background-color: black;
  }
  
  .js-toggle-btn {
    color: white; 
  } 
  
  .js-toggle-input {
    color: white;
  } 
}