// see the layouts
.app-container,
.stop-watch,
.current-record,
.time-box,
.time,
.progress-bar,
.buttons,
.btn {
  // border: 1px solid black;
} 

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15vh;
}


.app {
    width: 90%;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;

            .record-container {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              // transition: height width .2s ease-in-out;    
              // border: 1px solid black;         

              @include atSmall {
                width: 80%;
              }
              @include atMedium {
                width: 75%;
              }

                      .time {
                        transition: all .2s ease-in-out;
                        transition: background-color .7s ease;
                        display: inline-block;
                        font-size: 3.5rem;

                        @include atSmall {
                          width: 80px;
                          font-size: 4.5rem;
                        }
                        @include atMedium {
                          width: 116px;
                          font-size: 6.5rem;
                        }
                        @include atLarge {
                          width: 174.5px;
                          font-size: 9.8rem;
                        }
                      }

                      .millsecond-container {
                        align-self: flex-end;
                        margin-bottom: 4px; 
                        
                        @include atSmall {
                          margin-bottom: 8px; 
                        }
                        @include atMedium {
                          margin-bottom: 17px; 
                        }
                        @include atLarge {
                          margin-bottom: 28px; 
                        }
                     }

                      .millsecond {
                        font-size: 2rem;
                        width: auto;
                      }


                      .time-letter {
                        font-size: 1.5rem;

                        @include atMedium {
                          font-size: 2rem;
                        }
                        @include atLarge {
                          font-size: 3rem;
                        }
                      }
             }

             .record-container.stopwatch {
              //  background-color: pink;
             }

             .record-container.timer {
              //  background-color: rgb(254, 255, 192);
               display: none;
             }

          

            .progress-bar {
              width: 100%;
              height: 6px;
              border-radius: 10px;
              background-color: #cecece64;
              transition: all .7s ease;
              margin-top: 70px;
              position: relative;
              overflow-x: hidden;

              @include atSmall {
                width: 85%;
              }

              @include atMedium {
                height: 10px;
              }
            }

            .progress-bar-child{
              position: absolute;
              border-radius: 10px;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
              transform: translateX(-100%);
              transition: all .1s ease-in;
            }

            @keyframes progressBar {
              0% {
                transform: translateX(-100%);
              }

              50% {
                transform: translateX(0);
              }

              100% {
                transform: translateX(-100%);
              }
            }

            .js-toggle-progress {
              background-color: #ffffff;
            }





            .buttons {    
              // background-color: antiquewhite;
              margin-top: 70px;
              width: 100%;
              padding: 10px 5px 10px 0px;
              display: flex;

              @include atSmall {
                width: 75%;
              }


                  .functions,
                  .options {
                    // border: 1px solid black;
                    width: 100%;
                    height: 85px;
                    display: flex;   
                    flex-direction: column;   
                    justify-content: space-between;          

                    @include atMedium {
                      flex-direction: row; 
                      justify-content: start; 
                      align-items: center;
                    }
                  }

                  .options {
                    align-items: flex-end;


                    @include atMedium {
                      justify-content: flex-end; 
                      align-items: center;
                    }
                  }

                    .btn {
                      padding: 7px 15px 7px 15px;
                      background: 0;
                      border-radius: 18px;
                      font-size: 17px;
                      outline: none;
                      letter-spacing: 1.2px;
                      cursor: pointer;
                      transition: all .7s ease;
                      border: none;
                      box-shadow: 3px 2px 4px 0 rgba(148, 148, 148, 0.25);
                    }
                  
                    .btn.sm {
                      width: 73px;
                      margin-right: 10px;
                    }

                    .btn.lg {
                      width: 133px;
                      margin-left: 10px;
                    }

                    .js-toggle-btn {
                      color: white;
                    }

                    .btn:hover {
                      background-color: rgb(247, 247, 247);
                      color: black;
                    }
            }
    }



form {
  position: absolute;
  top: 50px;
  left: 45%;
}
