* {
  // border: 1px solid black;
}
  
.app {
    // background-color: rgb(249, 249, 196);
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15vh;

            .record-container {              
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              // transition: all .1s ease-in-out;       

              @include atSmall {
                width: 80%;
              }

              @include atMedium {
                width: 75%;
              }

                      .time {
                        // transition: all .1s ease-in-out;
                        transition: background-color .7s ease;
                        display: inline-block;
                        font-size: 3.5rem;
                        @include atSmall {
                          width: 80px;
                          font-size: 4.5rem;
                        }
                        @include atMedium {
                          width: 116px;
                          font-size: 6.5rem;
                        }
                        @include atLarge { 
                          width: 174.5px;
                          font-size: 9.8rem;
                        } 
                      }

                      .millsecond-container {
                        align-self: flex-end;
                        margin-bottom: 4px; 
                        width: 38px;       

                        @include atSmall {
                          margin-bottom: 12px; 
                        }
                        @include atMedium {
                          margin-bottom: 17px; 
                        }
                        @include atLarge {
                          margin-bottom: 28px; 
                        }
                     }

                      .millsecond {
                        font-size: 1rem;
                        width: auto;

                        @include atMedium {
                          font-size: 2rem;
                        }
                      }

                      .time-letter {
                        font-size: 1.5rem;

                        @include atMedium {
                          font-size: 2rem;
                        }
                        @include atLarge {
                          font-size: 3rem;
                        }
                      }
             }

            .progress-bar {
              width: 100%;
              height: 6px;
              border-radius: 10px;
              background-color: #cecece64;
              transition: all .7s ease;
              margin-top: 70px;
              position: relative;
              overflow-x: hidden;

              @include atSmall {
                width: 85%;
              }

              @include atMedium {
                height: 10px;
              }
            }

            .progress-bar-child{
              position: absolute;
              border-radius: 10px;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
              transform: translateX(-100%);
              transition: all .3s ease-in-out;
            }

            @keyframes progressBar {
              0% {
                transform: translateX(-100%);
              }

              50% {
                transform: translateX(0);
              }

              100% {
                transform: translateX(-100%);
              }
            }

            .js-toggle-progress {
              background-color: #ffffff;
            }





            .buttons {    
              margin-top: 70px;
              width: 100%;
              padding: 10px 5px 10px 0px;
              display: flex;

              @include atSmall {
                width: 75%;
              }


                  .functions,
                  .options {
                    width: 100%;
                    height: 85px;
                    display: flex;   
                    flex-direction: column;   
                    justify-content: space-between;          

                    @include atMedium {
                      flex-direction: row; 
                      justify-content: start; 
                      align-items: center;
                    }
                  }
 
                  .options {
                    align-items: flex-end;

                    @include atMedium {
                      justify-content: flex-end; 
                      align-items: center;
                    }
                  }

                    .btn {
                      padding: 7px 15px 7px 15px;
                      background: 0;
                      border-radius: 18px;
                      font-size: 17px;
                      outline: none;
                      letter-spacing: 1.2px;
                      cursor: pointer;
                      transition: all .7s ease;
                      border: none;
                      box-shadow: 3px 2px 4px 0 rgba(148, 148, 148, 0.25);
                    }
                  
                    .btn.sm {
                      width: 73px;
                      margin-right: 10px;
                    }

                    .btn.lg {
                      width: 133px;
                      margin-left: 10px;
                    }

                    .js-toggle-btn {
                      color: white;
                    }

                    .btn:hover {
                      background-color: rgb(247, 247, 247);
                      color: black;
                    }
            }
    }

.app.stopwatch {
  // display: none;
  display: flex;
  // background-color: rgb(255, 250, 175);
}

.app.timer {
  // background-color: rgb(192, 235, 255);
  display: none;
  // display: flex;

          progress[value] {
             width: 1000px;
             margin-top: 50px;
             -webkit-appearance: none;
             appearance: none;
          }

          progress[value]::-webkit-progress-bar {
            background-color: rgb(223, 223, 223);
            border-radius: 20px; 
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
          }

          progress[value]::-webkit-progress-value {
              border-radius: 20px; 
              background-color: pink;
              // width: 50% !important;
              transition: all .3s ease;
              animation: bar .3s ease;
          }

          @keyframes bar {
            0% {
              width: 0% !important;
            }
            50% {
              width: 100% !important;
            }
            100% {
              width: 0% !important;
            }
          }
}


.form-container {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;

      span {
        margin-right: 10px;
      }

      input {
        padding: 0;
        text-align: center;
        width: 45px;
        height: 70px;
        outline: none;
        letter-spacing: 1px;
        border: none; 
        font-size: 2.5rem;
        // box-shadow: 3px 2px 7px 2px rgba(148, 148, 148, 0.25);
      }

      input::placeholder {
          color: rgba(169, 169, 169, 0.632);
      }
}
