.js-toggle-body {
  background-color: rgba(19, 19, 19, 0.947);
  color: white
}

.app {
    .js-toggle-progress {
      background-color: #ffffff;
    }  

    .js-toggle-progress-timer {
      background-color: black;
    } 
    
    .js-toggle-btn {
      color: white; 
    }  
    
    .js-toggle-input {
      color: white;
    } 
}