.timer .form-container,
.timer .form,
.timer input,
.timer span {
  // border: 1px solid black;
}

.timer {
  display: none;

  .form-container {
    text-align: center;

    span {
      margin-right: 10px;

      @include atLarge {
        font-size: 2rem;
        margin-right: 25px;
      }
    }

    span:nth-of-type(3) {
      margin-right: 0;
    }

    input {
      text-align: center;
      letter-spacing: 1px;
      outline: none;
      border: none;
      background-color: transparent;
      width: 23.2%;
    }

    input[type='submit'] {
      display: none;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }

    input::placeholder {
      color: rgba(169, 169, 169, 0.632);
    }

    button[type='submit'] {
      opacity: 0;
    }

    .btn.sm {
      width: 83px;
      margin-right: 10px;
    }

    .button-hidden {
      display: none;
    }
  }

  #generic-start-button {
    display: none;
  }

  #input-submit-label {
    padding-left: 17px;
  }
}
