* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial,sans-serif; }

body {
  transition: all .3s ease; }

.js-toggle-body {
  background-color: black;
  color: white; }

.wrapper {
  max-width: 1280px;
  padding-left: 18px;
  padding-right: 18px;
  margin: auto; }

footer {
  height: 300px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer .social {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; }
    @media (min-width: 750px) {
      footer .social {
        width: 400px; } }
    footer .social a {
      border: 1px solid transparent; }
    footer .social a:hover {
      border-bottom: 1px solid black; }

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15vh; }

.stop-watch {
  width: 90%;
  min-height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .stop-watch .current-record {
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 500px) {
      .stop-watch .current-record {
        height: 220px; } }
    @media (min-width: 750px) {
      .stop-watch .current-record {
        height: 250px; } }
    @media (min-width: 1000px) {
      .stop-watch .current-record {
        width: 75%;
        height: 300px; } }
    .stop-watch .current-record .time {
      transition: all .2s ease-in-out;
      transition: background-color .7s ease;
      display: inline-block;
      font-size: 3.5rem; }
      @media (min-width: 500px) {
        .stop-watch .current-record .time {
          width: 80px;
          font-size: 4.5rem; } }
      @media (min-width: 750px) {
        .stop-watch .current-record .time {
          width: 116px;
          font-size: 6.5rem; } }
      @media (min-width: 1000px) {
        .stop-watch .current-record .time {
          width: 174.5px;
          font-size: 9.8rem; } }
    .stop-watch .current-record .time-letter {
      font-size: 1.5rem; }
      @media (min-width: 750px) {
        .stop-watch .current-record .time-letter {
          font-size: 2rem; } }
      @media (min-width: 1000px) {
        .stop-watch .current-record .time-letter {
          font-size: 3rem; } }
  .stop-watch .progress-bar {
    width: 75%;
    height: 6px;
    border-radius: 10px;
    background-color: #cecece; }
    @media (min-width: 750px) {
      .stop-watch .progress-bar {
        height: 10px; } }
  .stop-watch .js-toggle-progress {
    background-color: #ffffff; }
  .stop-watch .buttons {
    margin-top: 100px;
    width: 75%;
    padding: 20px 10px 20px 10px;
    display: grid;
    grid-template-columns: repeat(2, auto); }
    @media (min-width: 500px) {
      .stop-watch .buttons {
        grid-template-columns: repeat(2, auto); } }
    .stop-watch .buttons .btn {
      padding: 7px 15px 7px 15px;
      background: 0;
      border-radius: 18px;
      font-size: 17px;
      margin-right: 10px;
      outline: none;
      letter-spacing: 1.2px;
      cursor: pointer;
      transition: all .7s ease; }
    .stop-watch .buttons .btn.sm {
      width: 73px; }
    .stop-watch .buttons .btn.lg {
      width: 133px; }
    .stop-watch .buttons .js-toggle-btn {
      color: white; }
    .stop-watch .buttons .btn:hover {
      background-color: #f7f7f7;
      color: black; }
