* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: arial,sans-serif;
}

body {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.js-toggle-body {
  background-color: black;
  color: white;
}

.wrapper {
  max-width: 1280px;
  padding-left: 18px;
  padding-right: 18px;
  margin: auto;
}

.app {
  width: 90%;
  min-height: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15vh;
}

.app .record-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .app .record-container {
    width: 80%;
  }
}

@media (min-width: 750px) {
  .app .record-container {
    width: 75%;
  }
}

.app .record-container .time {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transition: background-color .7s ease;
  transition: background-color .7s ease;
  display: inline-block;
  font-size: 3.5rem;
}

@media (min-width: 500px) {
  .app .record-container .time {
    width: 80px;
    font-size: 4.5rem;
  }
}

@media (min-width: 750px) {
  .app .record-container .time {
    width: 116px;
    font-size: 6.5rem;
  }
}

@media (min-width: 1000px) {
  .app .record-container .time {
    width: 174.5px;
    font-size: 9.8rem;
  }
}

.app .record-container .millsecond-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 4px;
}

@media (min-width: 500px) {
  .app .record-container .millsecond-container {
    margin-bottom: 8px;
  }
}

@media (min-width: 750px) {
  .app .record-container .millsecond-container {
    margin-bottom: 17px;
  }
}

@media (min-width: 1000px) {
  .app .record-container .millsecond-container {
    margin-bottom: 28px;
  }
}

.app .record-container .millsecond {
  font-size: 2rem;
  width: auto;
}

.app .record-container .time-letter {
  font-size: 1.5rem;
}

@media (min-width: 750px) {
  .app .record-container .time-letter {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .app .record-container .time-letter {
    font-size: 3rem;
  }
}

.app .progress-bar {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background-color: #cecece64;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  margin-top: 70px;
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 500px) {
  .app .progress-bar {
    width: 85%;
  }
}

@media (min-width: 750px) {
  .app .progress-bar {
    height: 10px;
  }
}

.app .progress-bar-child {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

@-webkit-keyframes progressBar {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes progressBar {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.app .js-toggle-progress {
  background-color: #ffffff;
}

.app .buttons {
  margin-top: 70px;
  width: 100%;
  padding: 10px 5px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 500px) {
  .app .buttons {
    width: 75%;
  }
}

.app .buttons .functions,
.app .buttons .options {
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 750px) {
  .app .buttons .functions,
  .app .buttons .options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.app .buttons .options {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 750px) {
  .app .buttons .options {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.app .buttons .btn {
  padding: 7px 15px 7px 15px;
  background: 0;
  border-radius: 18px;
  font-size: 17px;
  outline: none;
  letter-spacing: 1.2px;
  cursor: pointer;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  border: none;
  -webkit-box-shadow: 3px 2px 4px 0 rgba(148, 148, 148, 0.25);
          box-shadow: 3px 2px 4px 0 rgba(148, 148, 148, 0.25);
}

.app .buttons .btn.sm {
  width: 73px;
  margin-right: 10px;
}

.app .buttons .btn.lg {
  width: 133px;
  margin-left: 10px;
}

.app .buttons .js-toggle-btn {
  color: white;
}

.app .buttons .btn:hover {
  background-color: #f7f7f7;
  color: black;
}

.app.timer {
  display: none;
}

form {
  position: absolute;
  top: 50px;
  left: 45%;
}
/*# sourceMappingURL=style.css.map */