@import './base/global';
@import './base/mixin';
@import './modules/wrapper';
@import './modules/header';
@import './modules/footer';



// see the layouts
.app-container,
.stop-watch,
.current-record,
.time-box,
.time,
.progress-bar,
.buttons,
.btn {
  border: 1px solid black;
} 



.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15vh;
}


.stop-watch {
    width: 90%;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;

            .current-record {
              width: 80%;
              height: 250px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              // transition: all .2s ease-in-out;

              @include atSmall {
                height: 220px;
              }
              @include atMedium {
                height: 250px;
              }
              @include atLarge {
                width: 75%;
                height: 300px;
              }


                      .time {
                        transition: all .2s ease-in-out;
                        transition: background-color .7s ease;
                        display: inline-block;
                        font-size: 3.5rem;

                        @include atSmall {
                          width: 80px;
                          font-size: 4.5rem;
                        }
                        @include atMedium {
                          width: 116px;
                          font-size: 6.5rem;
                        }
                        @include atLarge {
                          width: 174.5px;
                          font-size: 9.8rem;
                        }
                      }


                      .time-letter {
                        font-size: 1.5rem;

                        @include atMedium {
                          font-size: 2rem;
                        }
                        @include atLarge {
                          font-size: 3rem;
                        }
                      }
             }

          
            .progress-bar {
              width: 75%;
              height: 6px;
              border-radius: 10px;
              background-color: #cecece;
              // transition: all .7s ease;

              @include atMedium {
                height: 10px;
              }
            }

            .js-toggle-progress {
              background-color: #ffffff;
            }

            .buttons {
              margin-top: 100px;
              width: 75%;
              padding: 20px 10px 20px 10px;
              display: grid;
              // grid-template-columns: 77px 77px auto 135px 135px;
              grid-template-columns: repeat(2, auto);

              @include atSmall {
                grid-template-columns: repeat(2, auto);
              }

                    .btn {
                      padding: 7px 15px 7px 15px;
                      background: 0;
                      border-radius: 18px;
                      font-size: 17px;
                      margin-right: 10px;
                      outline: none;
                      letter-spacing: 1.2px;
                      cursor: pointer;
                      transition: all .7s ease;
                    }

                    .btn:nth-of-type(1){
                      // grid-column: 1 / 2;
                    }
                    .btn:nth-of-type(2){
                      // grid-column: 2 / 3;
                    }
                    .btn:nth-of-type(3){
                      // grid-column: 5 / 6;

                      @include atSmall {
                        // grid-column: 3 / 4;
                      }
                    }

                    .btn.sm {
                      width: 73px;
                    }

                    .btn.lg {
                      width: 133px;
                    }

                    .js-toggle-btn {
                      color: white;
                    }

                    // .mode {
                    //   @include atSmall {
                    //     position: absolute;
                    //     right: 0;
                    //   }
                    // }

                    .btn:hover {
                      background-color: rgb(247, 247, 247);
                      color: black;
                    }

            }
}

